* { box-sizing: border-box; }

%button {
  cursor: pointer;
  background: #000;
  border: 1px solid #000;
  border-radius: 0;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: background-color 100ms linear;
          transition: background-color 100ms linear;
  color: #fff;
  font: {
    size: 16px;
    weight: 700;
  }
  line-height: 1;
  text-align: center;

  &:hover, &:focus {
    background-color: #fff;
    color: #000;
    text-decoration: none;
  }
}

.button,
[type="button"],
[type="submit"] { @extend %button; }

input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
select,
textarea {
  background: #eef1eb;
  border: 0;
  border-radius: 0;
  display: inline-block;
  padding: 20px 10px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  color: #000;
  line-height: normal;
  font-size: 14px;

  &[disabled],
  &[readonly] {
    background: #ddd;
    cursor: default;
  }

  &[disabled] { color: #eee; }

  &:focus { outline: none; }

  &:-webkit-autofill { background-color: #fff; }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 10px;

  h1 { font-size: 24px; }

  [type="text"] { margin-bottom: 20px; }

  [type="button"] { margin-bottom: 30px; }

  @media (min-width: 768px) {
    padding: 0;

    h1 { font-size: 30px; }
  }
}

#todoitems {
  text-align: left;

  li {
    margin-bottom: 4px;
    position: relative;
    padding: 20px 50px 20px 20px;
    display: block;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    background: #f5f5f5;

    &:after {
      content: '×';
      position: absolute;
      top: 50%;
      right: 10px;
      font-size: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      margin-top: -15px;
      border-radius: 50%;
      border: 1px solid #000;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

}
